
/* search bar styling */
.searhBar button {
    position: absolute;
    right: 0px;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mic {
    position: absolute;
    right: 350px;
}

/* sidebar styling */
.sidebar div {
    border-bottom: 1px solid black;
}

.sidebar button {
    overflow: hidden;
}
.sidebar h2 {
    overflow: hidden;
}
.sidebar button:hover {
    background-color: #FAEBD7;
}

/* filter buttons styling */
.filter {
    position: absolute;
    left: 50px;
    top: -5px;
    overflow: hidden;
    height: 40px;
}

.filter div {
    cursor: pointer;
}

.filter div:hover {
    background-color: #FAEBD7;
}

.filter div:nth-child(1){
    background-color: black;
    color: whitesmoke;
}

/* startup message */
.pageStart {
    width: auto;
    height: 200px;
    background-color: aliceblue;
}


/* video player buttons */
.video-buttons button {
    background-color: aliceblue;
    border-radius: 20px;
    width: auto;
    padding: 7px 20px;
}